.body{
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    background-color: rgba(54, 54, 226, 0.4);
}
.left-block{
    width: 24%;
    height: 95vh;
}
.central-block{
    width: 48%;
    border: 2px solid black;
    height: 90vh;
}
.right-block{
    width: 24%;
    border: 2px solid black;
    height: 90vh;
}