.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 10vh;
  }
  .up_header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  